* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #4b6cb7, #182848);
    font-family: 'Poppins', sans-serif;
    padding: 15px;
    color: #fff;
}

/* Header */
.header {
    text-align: center;
    padding: 20px;
}

.header h2 {
    font-size: 28px;
    font-weight: 600;
}

/* Balance Card */
.balance-card {
    background: #ffffff;
    color: #222;
    width: 100%;
    max-width: 400px;
    margin: 0 auto 20px;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    font-weight: 600;
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}

.balance-card h1 {
    font-size: 40px;
    color: #0d47a1;
}


/* Menu Grid */
.menu-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
    max-width: 400px;
    margin: 0 auto;
}

/* Menu Button */
.menu-btn {
    background: linear-gradient(135deg, #f7971e, #ffd200);
    padding: 22px;
    border-radius: 16px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #222;
    cursor: pointer;
    transition: 0.3s;
}

.menu-btn:hover {
    transform: scale(1.05);
}

.logout {
    background: linear-gradient(135deg, #ff416c, #ff4b2b);
    color: white !important;
}
