.amount-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
  margin: 15px 0;
}
.amount-grid button {
  padding: 15px;
  background:#4B7BFF;
  color:#fff;
  border:none;
  border-radius:12px;
  font-size:18px;
}
.fixed-number {
  margin:10px 0;
  font-size:18px;
  color:#1e40af;
}
